<div class="container-fluid destoryOne-container">
    <h1>Module</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Beschreibung</th>
                <th>Aktion</th>
            </tr>
        </thead>
        <tbody>
            <% module.forEach(function(modul) { %>
                <tr>
                    <td>
                        <%= modul.id %>
                    </td>
                    <td>
                        <%= modul.name %>
                    </td>
                    <td>
                        <%= modul.beschreibung %>
                    </td>
                    <td>
                        <form action="/modul/destroy/<%= modul.id %>" method="POST">
                            <input class="btn btn-danger" type="submit" value="Löschen"
                                onclick="return confirm('Sind Sie sicher, dass Sie dieses Modul löschen möchten?');">
                        </form>
                    </td>
                    <td>
                        <form action="/modul/edit/<%= modul.id %>" method ="POST">
                           <input class="btn btn-warning" type="submit" value="Edit"
                            onclick="return confirm('Sind Sie sicher, dass Sie dieses Modul bearbeiten möchten?');">
                        </form>   
                    </td>
                </tr>
                <% }); %>
        </tbody>
    </table>
    <a class="btn btn-primary" href="/modul/new">Hinzufügen</a>
</div>
