<div class="container-flex main-container" id="upload">
    <div class="container-fluid headline">
        <h1>
            Upload
        </h1>
    </div>
    <% if (typeof message !=='undefined' && message) { %>
        <div class="container-fluid text-center message <%= messageClass %>">
            <p>
                <%= message %>
            </p>
        </div>
        <% } %>
            <div class="wrapper-grid">
                <form class="wrapper upload" id="upload-form" action="/upload/new" method="post" enctype="multipart/form-data">
                    <div class="nested">
                        <label for="name">Name</label>
                        <input id="Dateiname-input" type="text" v-model="name" :class="{'is-invalid': invalidName}"
                            placeholder="Dateiname" name="name" class="upload-form">
                        <div class="invalid-feedback" v-if="invalidName">Max 15 Zeichen, _ - Buchstaben und Zahlen!
                        </div>
                    </div>
                    <div class="nested">
                        <label for="kategorie">Kategorie</label>
                        <select id="Kategorie-selector" name="kategorie" class="nested upload-form">
                            <option value="Bitte auswählen">Bitte auswählen</option>
                            <option value="Skript">Skript</option>
                            <option value="Anleitung">Anleitung</option>
                        </select>
                    </div>
                    <div class="nested">
                        <label for="studiengang">Studiengang</label>
                        <select name="studiengang" id="studiengang" class="upload-form" required>
                            <option value="Studiengang wählen">Wählen einen Studiengang aus</option>
                            <% studiengaenge.forEach(function(studiengang) { %>
                                <option value="<%= studiengang.id %>">
                                    <%= studiengang.name %> (<%= studiengang.id %>)
                                </option>
                                <% }); %>
                        </select>
                    </div>
                    <div class="nested">
                        <label for="modul">Modul</label>
                        <select name="modul" id="modul" class="upload-form" required>
                            <option value="Modul">Wählen ein Modul aus</option>
                            <% module.forEach(function(modul) { %>
                                <option value="<%= modul.id %>">
                                    <%= modul.name %> (<%= modul.id %>)
                                </option>
                                <% }); %>
                        </select>
                    </div>
                    <div class="nested">
                        <label for="beschreibung">Beschreibung</label>
                        <input id="Beschreibung-input" type="text" placeholder="Beschreibung des Inhalts"
                            name="beschreibung" class="upload-form">
                    </div>
                    <div class="nested">
                        <label for="author">Author</label>
                        <input id="Author-input" type="text" placeholder="Dein Name (optional)" name="author"
                            class="upload-form">
                    </div>
                    <div class="nested">
                        <label for="pfad">Dokument</label>
                        <input id="Dokument-selection" type="file" placeholder="Datei aus Verzeichniss wählen" name="data">
                    </div>
                    <div class="nested">
                        <label for="upload-button">Jetzt hochladen</label>
                        <button type="submit" class="btn btn-primary" id="upload-button">Upload</button>
                    </div>

                </form>
            </div>
</div>

<script>
    const { createApp } = Vue;

    createApp({
        data() {
            return {
                name: '',
                invalidName: false,
            }


        },
        methods: {
            validName: function (name) {
                let re = /^[0-9a-zA-Z\s_-]{1,15}$/; ;
                return re.test(name);

            }

        },

        watch: {
            name: function (newName) {
                this.invalidName = !this.validName(newName);
            }

        }


    }).mount("#upload");
</script>