<div id="account-overview">
  <account-notification-banner></account-notification-banner>
  <div class="container pt-5 pb-5">
    <h1>My account</h1>
    <hr/>
    <div class="row mb-3">
      <div class="col-sm-6">
        <h4>Personal information</h4>
      </div>
      <div class="col-sm-6">
        <span class="float-sm-right">
          <a style="width: 150px" class="btn btn-sm btn-outline-info" href="/account/profile">Edit profile</a>
        </span>
        <% if (req.me.isSuperAdmin) { %>
        <span class="float-sm-left">
          <a style="width: 150px" class="btn btn-sm btn-outline-info" href="/admin/edit-all" >Edit profiles</a>
        </span>
        <% } %>
      
      </div>
    </div>
    <div class="row">
      <div class="col-3">Nutzernane:</div>
      <div class="col"><strong><%= user.userName %></strong></div>
    </div>
    <div class="row">
      <div class="col-3">Email:</div>
      <div class="col">
        <strong><%= user.emailAddress %></strong>
      </div>
    </div>
    <div class="row">
      <div class="col-3">Vorname:</div>
      <div class="col">
        <strong><%= user.vorName %> </strong>
      </div>
    </div>
    <div class="row">
      <div class="col-3">Nachname:</div>
      <div class="col">
        <strong><%= user.nachName %> </strong>
      </div>
    </div>
    <div class="row">
      <div class="col-3">Birthday:</div>
      <div class="col">
        <strong><%= user.birthday %></strong>
      </div>
    </div>
    <div class="row">
      <div class="col-3">Studiengang:</div>
      <div class="col">
        <strong><%= user.studiengang.name %></strong>
      </div>
    </div>
    <hr/>
    <div class="row mb-3">
      <div class="col-sm-6">
        <h4>Password</h4>
      </div>
      <div class="col-sm-6">
        <span class="float-sm-right">
          <a style="width: 150px" class="btn btn-sm btn-outline-info" href="/account/password">Change password</a>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-3">Password:</div>
      <div class="col"><strong>••••••••••</strong></div>
    </div>    
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
