<div id="edit-profile" v-cloak>
  <account-notification-banner></account-notification-banner>
  <div class="container pt-5 pb-5">
    <h1>Update personal info</h1>
    <hr />
    <form action="/updateProfile" method="POST">
      <div class="row">

        <div class="col-sm-6">
          <div class="form-group">
            <label for="user-Name">User name</label>
            <input class="form-control" id="user-name" name="userName" type="text" autocomplete="userName" focus-first
              value="<%= req.me.userName %>">
            <div class="invalid-feedback">Please enter your user name.</div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="first-name">First name</label>
            <input class="form-control" id="first-name" name="vorName" type="text" autocomplete="firstName" 
              value="<%= req.me.vorName %>">
            <div class="invalid-feedback">Please enter your first name.</div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="second-name">Second name</label>
            <input class="form-control" id="second-name" name="nachName" type="text" autocomplete="secondName" 
              value="<%= req.me.nachName %>">
            <div class="invalid-feedback">Please enter your second name.</div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="birthday">Birthday</label>
            <input class="form-control" id="birthday" name="birthday" type="string" autocomplete="birthday"
              value="<%= req.me.birthday %>">
            <div class="invalid-feedback">Please enter a valid Birthday.</div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="email-address">Email address</label>
            <input class="form-control" id="email-address" name="emailAddress" type="email" autocomplete="email"
              value="<%= req.me.emailAddress %>">
            <div class="invalid-feedback">Please enter a valid email address.</div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="studiengang">Studiengang</label>
            <select class="form-control" id="studiengang" name="studiengang">
              <% studiengaenge.forEach(function(studiengang) { %>
                <option value="<%= studiengang.id %>" <%=req.me.studiengang.id===studiengang.id ? 'selected' : '' %>><%=
                    studiengang.name %>
                </option>
                <% }); %>
            </select>
            <div class="invalid-feedback">Please enter your Studiengang.</div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            There is already an account using that email address.
          </div>
          <div class="col-sm-6">
            <div class="form-group text-right">
              <a class="btn btn-outline-info" href="/account">Cancel</a>
              <button type="submit" class="btn btn-dark">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>