<div class="container-flex main-container">
    <div class="container-fluid headline">
        <h1>
            Wirtschaftsinformatik
        </h1>
    </div>
    <div class="container-flex textbox" id="call-to-action-2">
        Du hast eigene Ressourcen und denkst andere Studenten könnten davon profitieren?<br>
        Worauf wartest du dann noch?<br> Lade sie jetzt hoch und helfe anderen Studenten bei ihrem Studium.
        <div class="container-flex studiums-auswahl">
            <a href="/ressources/upload">
                <button class="yellow-button">Weiter zum Upload ></button>
            </a>
        </div>
    </div>
    <div class="container-flex top-10-downloads-headline">
        <h1>Skripte</h1>
    </div>
    <div class="container-flex top-10-downloads">
        <ul class="unordered-lists">
            <% skripte.forEach(function(skript) { %>
                <li class="list-items">
                    <a href="/download/skript/<%= skript.id %>">
                        <%= skript.name %> (Autor: <%= skript.author %>)
                    </a>
                </li>
                <% }); %>
                <% if (req.me.isSuperAdmin) { %>
                    <div class = "col-12">
                    <a href="/admin" class="btn btn-sm btn-secondary col-6 offset-3" id ="studiengang-element">Skript Edit</a>
                    </div>
                    <% } %>

                </ul>
    </div>
    <div class="container-flex top-10-downloads-headline">
        <h1>Anleitungen</h1>
    </div>
    <div class="container-flex top-10-downloads">
        <ul class="unordered-lists">
            <% anleitungen.forEach(function(anleitung) { %>
                <li class="list-items">
                    <a href="/download/anleitung/<%= anleitung.id %>">
                        <%= anleitung.name %> (Autor: <%= anleitung.author %>)
                    </a>
                </li>
                <% }); %>
                <% if (req.me.isSuperAdmin) { %>
                    <div class ="col-12">
                    <a href="/admin" class="btn btn-sm btn-secondary col-6 offset-3" id ="studiengang-element">Anleitung Edit</a>
                </div>
                <% } %>
        </ul>
    </div>
</div>
