<div class="container-fluid dashboard-container">
    <div class="dashboard-content">
        <h1 class="text-center mb-4" id="dashheader">Dashboard</h1>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="card">
                    <div class="card-header">Benutzerinformation</div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Vorname: <%= user.vorName %>
                        </li>
                        <li class="list-group-item">Nachname: <%= user.nachName %>
                        </li>
                        <li class="list-group-item">Nutzername: <%= user.userName %>
                        </li>
                        <li class="list-group-item">Email: <%= user.emailAddress %>
                        </li>
                        <li class="list-group-item">Geburtsdatum: <%= user.birthday %>
                        </li>
        
                        <li class="list-group-item">Studiengang: <%= user.studiengang.name %>
                        </li>
                        <% if (user.isSuperAdmin) { %>
                            <li class="list-group-item">
                                <a href="/" class="btn btn-primary">Sie sind Administrator, weitere Benutzer
                                    verwalten?</a>
                            </li>
                            <% } %>

                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="sign-up-button text-center">
                <div class="button"><a class="sec-button-own" href="/">Zurück zur Homepage
                        ></a></div>
            </div>
        </div>
      </div>
</div>