<div class="container">
    <form action="/user/<%=user.id%>/update" method="post">
        <div>
            <div class="form-group">
                <label class="col-form-label-lg">Vorname</label>
                <input type="text" class="form-control" maxlength="80" value="<%= user.vorName %>" name="vorName">
            </div>
            <div class="form-group">
                <label class="col-form-label-lg">Nachname</label>
                <input type="text" class="form-control" maxlength="8" value="<%= user.nachName %>" name="nachName">
            </div>
            <div class="form-group">
                <label class="col-form-label-lg">Nutzername</label>
                <input type="text" maxlength="255" class="form-control" size="40" value="<%= user.userName %>" name="userName">
            </div>
            <div class="form-group">
                <label class="col-form-label-lg">Email</label>
                <input type="email" value="<%= user.emailAddress %>"maxlength="255" class="form-control" size="80" name="emailAddress">
            </div>
            <div class="form-group">
                <label class="col-form-label-lg">Geburtstag</label>
                <input type="text" value="<%= user.birthday %>"maxlength="255" class="form-control" size="80" name="birthday">
            </div>
            <div class="form-group">
                <label for="studiengang" class="col-form-label-lg">Studiengang</label>
                <select name="studiengang" id="studiengang" class="form-select" required>
                    <option value="<%= user.studiengang %>">--Wählen einen Studiengang aus--</option>
                    <% studiengaenge.forEach(function(studiengang) { %>
                        <option value="<%= studiengang.id %>">
                            <%= studiengang.name %> (<%= studiengang.id %>)
                        </option>
                        <% }); %>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Aktualisieren</button>
    </form>
</div>