<div class="container-fluid register-container">
    <h1 class="text-center mb-4">Neues Konto erstellen</h1>
    <form action="/user" method="POST" class="mx-auto" style="max-width: 400px;">
        <div class="mb-3">
            <label for="vorName" class="form-label">Vorname:</label>
            <input type="text" name="vorName" id="vorname" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="nachName" class="form-label">Nachname:</label>
            <input type="text" name="nachName" id="nachname" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="birthday" class="form-label">Geburtsdatum:</label>
            <input type="date" name="geburtsdatum" id="geburtsdatum" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="studiengang" class="form-label">Studiengang:</label>
            <select name="studiengang" id="studiengang" class="form-select" required>
                <option value="">--Wählen einen Studiengang aus--</option>
                <% studiengaenge.forEach(function(studiengang) { %>
                    <option value="<%= studiengang.id %>">
                        <%= studiengang.name %> (<%= studiengang.id %>)
                    </option>
                    <% }); %>
            </select>
        </div>
        <!-- <div class="mb-3">
            <label for="role" class="form-label">Rolle:</label>
            <select name="role" id="role" class="form-select" required>
                <option value="">--Wähle eine Rolle aus--</option>
                <% roles.forEach(function(role) { %>
                    <option value="<%= role.id %>">
                        <%= role.name %> (<%= role.beschreibung %>)
                    </option>
                    <% }); %>
            </select>
        </div> -->
        <div class="mb-3">
            <label for="userName" class="form-label">Benutzername:</label>
            <input type="text" name="userName" id="username" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">E-Mail:</label>
            <input type="email" name="email" id="email" <input type="email" name="email" id="email" class="form-control"
                required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Passwort:</label>
            <input type="password" name="password" id="passwort" class="form-control" required>
        </div>
        <button class="btn btn-primary w-100" type="submit">Registrieren</button>
    </form>
</div>