<div class="container-fluid destoryOne-container">
    <h1>Studiengänge</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Kürzel</th>
                <th>Aktion</th>
            </tr>
        </thead>
        <tbody>
            <% studiengaenge.forEach(function(studiengang) { %>
                <tr>
                    <td>
                        <%= studiengang.id %>
                    </td>
                    <td>
                        <%= studiengang.name %>
                    </td>
                    <td>
                        <%= studiengang.kürzel %>
                    </td>
                    <td>
                        <form action="/studiengang/destroy/<%= studiengang.id %>" method="POST">
                            <input class="btn btn-danger" type="submit" value="Löschen"
                                onclick="return confirm('Sind Sie sicher, dass Sie diesen Studiengang löschen möchten?');">
                        </form>
                    </td>
                    <td>
                        <form action="/studiengang/edit/<%= studiengang.id %>" method ="POST">
                           <input class="btn btn-warning" type="submit" value="Edit"
                            onclick="return confirm('Sind Sie sicher, dass Sie diesen Studiengang bearbeiten möchten?');">
                        </form>   
                    </td>
                </tr>
                <% }); %>
        </tbody>
    </table>
    <a class="btn btn-primary" href="/studiengang/new">Hinzufügen</a>
</div>
