<div class="container-fluid destoryOne-container">
    <h1>Anleitungen</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Beschreibung</th>
                <th>Pfad</th>
                <th>Author</th>
            </tr>
        </thead>
        <tbody>
            <% anleitungen.forEach(function(anleitung) { %>
                <tr>
                    <td>
                        <%= anleitung.id %>
                    </td>
                    <td>
                        <%= anleitung.name %>
                    </td>
                    <td>
                        <%= anleitung.beschreibung %>
                    </td>
                    <td>
                        <%= anleitung.pfad %>
                    </td>
                     <td>
                        <%= anleitung.author %>
                    </td>
                    <td>
                        <form action="/anleitung/destroy/<%= anleitung.id %>" method="POST">
                            <input class="btn btn-danger" type="submit" value="Löschen"
                                onclick="return confirm('Sind Sie sicher, dass Sie diese Anleitung löschen möchten?');">
                        </form>
                    </td>
                    <td>
                        <form action="/anleitung/edit/<%= anleitung.id %>" method ="POST">
                           <input class="btn btn-warning" type="submit" value="Edit"
                            onclick="return confirm('Sind Sie sicher, dass Sie diese Anleitung bearbeiten möchten?');">
                        </form>   
                    </td>
                </tr>
                <% }); %>
        </tbody>
    </table>
    <a class="btn btn-primary" href="/anleitung/new">Hinzufügen</a>
</div>
